<div id="start-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Start Container</h3>
  </div>
  <div class="modal-body">
    <form>
        <fieldset>
            <legend>Start container</legend>

            <label>Binds:</label>
            <input type="text" placeholder="{{ bindsPlaceholder }}" ng-model="config.binds"/>

            <label>Links:</label>
            <input type="text" ng-model="config.links"/>

            <label>Dns:</label>
            <input type="text" ng-model="config.dns"/>

            <label>Privileged:</label>
            <input type="text" ng-model="config.privileged"/>

            <label>PortBindings:</label>
            <input type="text" ng-model="config.portbindings"/>

        </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="" class="btn btn-primary" ng-click="start()">Start</a>
  </div>
</div>

